<% object.reverse.first(10).each do |report| %>
  <p><div class="time"><%= report.time %><br></div>
  <% Comment.all.each do |comment| %>
    <% if comment.report_id == report.id %>
      <div class="feed_user_text">
        <strong><%= comment.user.username %>:</strong>
        <%= comment.content %><br>
      </div>
    <% end %>
  <% end %>
  <% if report.user_id == current_user.id %>
    <% if report.type == "bridge" %>
      <form method="post" action="/delete_<%= "bridge" %>_report/<%= report.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="delete_btn">
      </form>
    <% elsif report.to_s.include?("Train") %>
      <form method="post" action="/delete_<%= "train" %>_report/<%= report.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="delete_btn">
      </form>
    <% end %>
  <% end %>
<% end %>
