<p><strong>Hey, <%= current_user.username %>.</strong><br>
How's the commute?

<div class="row">
  <div class="bridge_report">
      <form method="post" action="/report_bridge">
        <input type="hidden" name="time" value="<%= Time.now.strftime("%l:%M %p, %a, %x") %>">
        <input type="submit" id="submit" value="Report Bridge" class="btn">
      </form>
  </div>

  <div class="train_report">
      <form method="post" action="/report_train">
        <input type="hidden" name="time" value="<%= Time.now.strftime("%l:%M %p, %a, %x") %>">
        <input type="submit" id="submit" value="Report Train" class="btn">
      </form>
  </div>
</div>

<div class="row">
  <div class="feed_column_left">

    <h2>Recent Bridge Reports</h2>
    <% if @bridge_reports.empty? %>
      <p>All's quiet.
    <% end %>

    <%= erb(:"/partials/feed_report", :locals => {:object => @bridge_reports}) %>

  </div>

  <div class="feed_column_right">
    <h2>Recent Train Reports</h2>
    <% if @reports.empty? %>
      <p>All's quiet.
    <% end %>

    <%= erb(:"/partials/feed_report", :locals => {:object => @reports}) %>

  </div>
</div>

<p><form method="get" action="/logout">
  <input type="submit" value="Logout" class="btn">
</form>
