<p><strong>Hey, <%= current_user.username %>.</strong><br>
How's the commute?

<div class="row">
  <div class="bridge_report">
      <form method="post" action="/report_bridge">
        <input type="hidden" name="time" value="<%= Time.now.strftime("%l:%M %p, %a, %x") %>">
        <input type="submit" id="submit" value="Report Bridge" class="btn">
      </form>
  </div>

  <div class="train_report">
      <form method="post" action="/report_train">
        <input type="hidden" name="time" value="<%= Time.now.strftime("%l:%M %p, %a, %x") %>">
        <input type="submit" id="submit" value="Report Train" class="btn">
      </form>
  </div>
</div>

<div class="row">
  <div class="feed_column_left">
    <h2>Recent Bridge Reports</h2>
    <% if @bridge_reports.empty? %>
      <p>All's quiet.
    <% end %>

    <% @bridge_reports.reverse.first(10).each do |bridge_report| %> <!-- refactor for DRY, compose method -->
      <p><div class="time"><%= bridge_report.time %><br></div>
      <% Comment.all.each do |comment| %>
        <% if comment.bridge_report_id == bridge_report.id %>
          <div class="feed_user_text">
            <strong><%= comment.user.username %>:</strong>
            <%= comment.content %><br>
          </div>
          <% end %>
        <% end %>
        <% if bridge_report.user_id == current_user.id %>
          <form method="post" action="/delete_bridge_report/<%= bridge_report.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="delete_btn">
          </form>
        <% end %>
      <% end %>
    </div>

  <div class="feed_column_right">
    <h2>Recent Train Reports</h2>
    <% if @train_reports.empty? %>
      <p>All's quiet.
    <% end %>

    <% @train_reports.reverse.first(10).each do |train_report| %>
      <p><div class="time"><%= train_report.time %><br></div>
      <% Comment.all.each do |comment| %>
        <% if comment.train_report_id == train_report.id %>
          <div class="feed_user_text">
            <strong><%= comment.user.username %>:</strong>
            <%= comment.content %><br>
          </div>
        <% end %>
      <% end %>
      <% if train_report.user_id == current_user.id %>
        <form method="post" action="/delete_train_report/<%= train_report.id %>">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="delete_btn">
        </form>
      <% end %>
    <% end %>
  </div>
</div>

<p><form method="get" action="/logout">
  <input type="submit" value="Logout" class="btn">
</form>
