<p><strong>Hey, <%= current_user.username %>.</strong><br>
How's the commute?

<!-- REPORT BUTTONS -->
<div class="row">
  <div class="bridge_report">
    <%= erb(:"/partials/users_show_report_button", :locals => {:object => "bridge"}) %>
  </div>

  <div class="train_report">
    <%= erb(:"/partials/users_show_report_button", :locals => {:object => "train"}) %>
  </div>
</div>

<!-- REPORT FEED -->
<div class="row">
  <div class="feed_column_left">
    <h2>Recent Bridge Reports</h2>
    <% if @bridge_reports.empty? %>
      <p>All's quiet.
    <% end %>

    <%= erb(:"/partials/users_show_report_feed", :locals => {:object => @bridge_reports}) %>

  </div>


  <div class="feed_column_right">
    <h2>Recent Train Reports</h2>
    <% if @train_reports.empty? %>
      <p>All's quiet.
    <% end %>

    <%= erb(:"/partials/users_show_report_feed", :locals => {:object => @train_reports}) %>

  </div>
</div>

<p><form method="get" action="/logout">
  <input type="submit" value="Logout" class="btn">
</form>
