Sorry you're stuck. Put the car in park and whip out the sudoku.<br><!-- in future, generate random messages that rotate -->

<% mode = current_user.reports.last.mode %>
<strong><%= mode.slice(0,1).capitalize + mode.slice(1..-1) %></strong>
  reported up at <strong><%= @report.time %></strong>.

<!-- COMMENT & HOME BUTTONS -->
<form method="get" action="/home">
  <input type="submit" value="Home" class="btn">
</form>

<h3>Comments:<h3>
<ul>
  <% @report.comments.each do |comment| %>
    <li>
      <p><%= comment.content %><p>
      <em>- <%= comment.user.email %></em>
    </li>
  <% end %>
</ul>

<p>Got something to say?<br>
<form method="post" action="/reports/<%= @report.id %>/comments">
  <input type="text" name="content">
  <p>
  <input type="submit" id="submit" value="Comment" class="btn">
</form>
<p>
<form method="get" action="/home">
  <input type="submit" value="Home" class="btn">
</form>
